a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}
.leftNav:hover{
   color: #fff;
   background-color: #3f51b5;
}


.container{
     background-color: #3f51b5;
}
   @media (min-width: 768px){
   }